In [4]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('market_basket_analysis_raw_data.csv', sep=';')

C:\Users\jer93\AppData\Local\Temp\ipykernel_3552\2928347773.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('market_basket_analysis_raw_data.csv', sep=';')

In [7]:
df.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,"2,55",17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,"2,75",17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom

# Data Dictionary

## Fields Description

| Field Name  | Description                                      | Data Type |
|-------------|--------------------------------------------------|-----------|
| `BillNo`    | 6-digit number assigned to each transaction.     | Nominal   |
| `Itemname`  | Product name.                                    | Nominal   |
| `Quantity`  | The quantities of each product per transaction.  | Numeric   |
| `Date`      | The day and time when each transaction was generated. | Numeric   |
| `Price`     | Product price.                                   | Numeric   |
| `CustomerID`| 5-digit number assigned to each customer.        | Nominal   |
| `Country`   | Name of the country where each customer resides. | Nominal   |